{% extends "base.html" %}

{% block content %}
<div class="col-xl-10">
<h1>Добавить новость</h1>
<form action="" method="post"  enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div class="form-group">
        <label for="title1">Заголовок</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="title1" aria-label={{form.title}}
                   aria-describedby="basic-addon1" name="title" placeholder="Заголовок" required>
        </div>
    </div>
    <div class="form-group">
        <label for="theme1">Тема</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="theme1" aria-label={{form.theme}}
                   aria-describedby="basic-addon1" name="theme" placeholder="Тема поста" required>
        </div>
    </div>
    <div class="form-group">
        <div class="mb-3">
            <label for="validationTextarea">Текст поста</label>
            <textarea class="form-control" id="validationTextarea"
                      name="content" placeholder="Текст"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1"
                   name="private">
            <label class="custom-control-label" for="customSwitch1">Личная новость</label>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Сохранить">
    </div>


</form>
</div>
<script>
bsCustomFileInput.init()

      var btn = document.getElementById('btnResetForm')
      var form = document.querySelector('form')
      btn.addEventListener('click', function () {
        form.reset()
      })
</script>
{% endblock %}