<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Часто задаваемые вопросы</title>
</head>
    <body>
        <div class="alert alert-primary" role="alert">
                      О чём этот сайт?
        </div>
        <div class="alert alert-secondary" role="alert">
                      Ответ: здесь выкладываются текущие новости о разработках наших игр и подобные новости
        </div>
        <div class="alert alert-primary" role="alert">
                      Кто занимается разработкой сайта и игры?
        </div>
        <div class="alert alert-secondary" role="alert">
                      Ответ: 3 человека --- Пландин Тимофей, Шамгулов Ильдар и Рязанцева Анастасия
        </div>
        <div class="alert alert-primary" role="alert">
                      На чьей основе создаётся(создан) сайт?
        </div>
        <div class="alert alert-secondary" role="alert">
                      Ответ: на основе языка Python(Flask и свяжущие, включая базы данных), HTML разметка
        </div>
    </body>
</html>