{% extends "base.html" %}

{% block content %}
    <div class="alert alert-primary alert-sm" role="alert"><h2>О чём этот сайт?</h2>
    </div>
    <div class="alert alert-secondary" role="alert"><h1>Ответ: здесь выкладываются текущие новости о разработках наших игр и подобные новости</h1>
    </div>
    <h1> </h1>
    <div class="alert alert-primary" role="alert"><h2>Кто занимается разработкой сайта?</h2>
    </div>
     <div class="alert alert-secondary" role="alert"><h1>Ответ: Команда Wicked Mistake (состоит из 3 человек: Пландин Тимофей, Шамгулов Ильдар и Рязанцева Анастасия)</h1>
     </div>
    <h1> </h1>
    <div class="alert alert-primary" role="alert"><h2>Что использовалось при создании сайта?</h2>
    </div>
    <div class="alert alert-secondary" role="alert"><h1>Ответ: язык программирования Python и библиотеки (Flask, SQLAlchemy), базы данных, HTML-разметка</h1>
    </div>
    <p>
        <a class="btn btn-primary" href="/">Вернуться на главную</a>
    </p>
{% endblock %}